<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body> 
			<center>
				<h1> <b> iksunglee: Illist Official Site </b> </h1>
			</center>
			<!--
			<img src="https://github.com/iksunglee/iksunglee.github.io/blob/master/image/travel2.png?raw=true" alt="logo" style="height: 100px;width:250px;">
			-->
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/update">Instagram</a> </li>
	    		</ul>
			</nav>
			</center>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:iksungleekorea@gmail.com">email</a></li>
	        		<li><a href="https://github.com/iksunglee">github.com/iksunglee</a></li>
				<li><a href="https://kr.linkedin.com/in/iksunglee">linkedin </a></li>
				<li><a href="https://www.youtube.com/user/movement109/featured">Youtube</a></li>
				</ul>
			</footer>
		</body>
	</html>
